[Unit]
Description=Flask Server Scripts
After=flask-server.service
Requires=flask-server.service

[Service]
ExecStart=/usr/bin/python3 report.py
Restart=always
User=ec2-user
WorkingDirectory=/home/ec2-user/load-balancer-multi-tier-test/server/
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
