[Unit]
Description=Flask Server Scripts
After=flask-server.service
Requires=flask-server.service

[Service]
User=root
WorkingDirectory=/home/ec2-user/load-balancer-multi-tier-test/server/
ExecStart=/usr/bin/python3 report.py
Restart=always

[Install]
WantedBy=multi-user.target
